* {
  margin: 0;
  padding: 0;
}

#rusty-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-thingy {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="file-thingy"] {
  cursor: pointer;
}

#art-box, #header-box div {
  text-align: center;
}

#art-box, #header-box {
  font-family: monospace, Courier;
  line-height: 1;
}

#progress-box {
  display: flex;
  justify-content: center;
}

.divider {
  display: block;
  transition: all 0.5s;
  background-color: black;
  width: 1px;
  height: 0;
  position: relative;
}

.divider.hline {
  height: 1px;
  transition-delay: 0.5s;
}

.success-banner {
  margin-left: 1%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.success-banner > .divider {
  left: 0;
  width: 60px;
  padding-right: 10px;
}

.success-banner > .divider > .hline {
  width: 0;
}

.success-banner.show > .divider > .hline {
  width: inherit;
}

.success-banner > .message {
  opacity: 0;
  transition: opacity 1s;
}

.success-banner.show > .message {
  opacity: 1;
}
