
@import url("./base.css");

#rusty-box {
  padding-top: 10%;
  grid-template-rows: 1fr 1fr;
}

#header-box {
  font-size: 2px;
}

#art-box {
  padding-top: 5%;
  font-size: 2px;
}

#progress-box {
  flex-flow: column wrap;
  align-self: center;
}

#progress-box > img {
  margin: 10px 25%;
  width: 50%;
}

.outline > #art-params {
  flex-flow: column;
}

.outline.show > .divider {
  height: 20px;
}

.range-slider {
  width: 80%;
  margin: 5px 10%;
}

#art-params > div {
  font-size: 12px;
}

.divider {
  left: 50%;
}

.divider.hline {
  left: 10%;
  margin-bottom: 10px;
}

.outline.show > .divider.hline {
  height: 1px;
  width: 80%;
}

.success-banner {
  justify-content: center;
  font-size: 12px;
}

.success-banner > .divider {
  display: none;
}
