
@import url("./base.css");

#rusty-box {
  padding-top: 10%;
  flex-flow: column;
}

#header-box {
  font-size: 2px;
}

#art-box {
  padding-top: 5%;
  font-size: 2px;
}

#progress-box {
  margin-top: 5%;
  flex-flow: column wrap;
  align-self: center;
}

#progress-box > img {
  margin: 10px 10%;
  width: 80%;
}

.outline.show > .divider {
  height: 20px;
}

.divider {
  left: 50%;
}

.divider.hline {
  left: 10%;
}

.outline.show > .divider.hline {
  height: 1px;
  width: 80%;
}

.success-banner {
  margin-top: 2%;
  font-size: 12px;
}

.success-banner > .divider {
  display: none;
}
