
#rusty-box {
  padding-top: 2%;
  flex-flow: row;
}

#header-box {
  font-size: 4px;
}

#art-box {
  padding-top: 1%;
  font-size: 4px;
}

#progress-box {
  flex-flow: row;
  margin-top: 1%;
}

#progress-box > img {
  margin: 10px;
  width: auto;
}

.success-banner {
  margin-top: 0;
  font-size: initial;
}

.success-banner > .message {
  transition: opacity 1s ease 1s;
}

.success-banner > .divider {
  display: inline-block;
}
