
#rusty-box {
  padding-top: 2%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

label[for="file-thingy"] {
  grid-column-start: 2;
}

#header-box {
  font-size: 4px;
}

#art-box {
  padding-top: 1%;
  font-size: 4px;
}

#progress-box {
  flex-flow: row;
  margin-top: 1%;
}

#progress-box > img {
  margin: 10px;
  width: auto;
}

.outline > #art-params {
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
}

#art-params > div {
  font-size: initial;
  text-align: center;
}

#art-params > div:nth-child(1) {
  grid-column-start: 2;
}

#art-params > div:last-child {
  display: flex;
  margin: 10px;
}

.divider.hline {
  margin: 0;
}

.success-banner {
  justify-content: left;
  font-size: initial;
}

.success-banner > .message {
  transition: opacity 1s ease 1s;
}

.success-banner > .divider {
  display: inline-block;
}
